### **Data Types.**

Get started with basic numbers and arithmetic.

+ Integer number:

In [1]:
1

1

+ Floating point number:

In [2]:
1.0

1.0

+ Plus sign:

In [3]:
1 + 1

2

+ Times sign:

In [4]:
1 * 3

3

+ Slash sign: Add a floating point number to ensure that the result will be a real number.

In [7]:
1 / 2

0.5

In [6]:
1 / 2.0

0.5

+ Two asterisks represent exponentiation:

In [8]:
3 ** 4

81

+ Do a little something:

In [9]:
2 + 3 * 5 + 5

22

In [10]:
(2 + 3) ** (5 + 5)

9765625

+ Division with remainder:

In [11]:
4 % 2

0

In [12]:
5 % 3

2

+ Assignment:

In [14]:
var = 2
var

2

In [15]:
x = 2
y = 3
x + y

5

In [16]:
x = x ** x
x

4

+ String:

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [22]:
str = 'Hello World'
str

'Hello World'

If you want to acctually print the outputs of `str` you'll have to pass it into `print` fuction:

In [23]:
print(str)

Hello World

+ Format the statements:

In [24]:
num = 22
name = 'Le Truong'

I want to print stuff based off those variables, I can do that with print formatting:

In [28]:
'My name is {} and my number is {}'.format(name, num)

'My name is Le Truong and my number is 22'

In [29]:
# Print the output
print('My name is {} and my number is {}'.format(name, num))

My name is Le Truong and my number is 22

In [31]:
print('My name is {one} and my number is {two}'.format(one = name, two = num))
print('My name is {one} and my number is {two}, more {one}'.format(one = name, two = num))

My name is Le Truong and my number is 22
My name is Le Truong and my number is 22, more Le Truong

+ You can see the variable `str` above can be seen as an array:

In [32]:
str[0]

'H'

If you want to get everything like 'H' and beyond then we can use colon notation to do this:

In [34]:
str[0:]

'Hello World'

In [36]:
str[1:]

'ello World'

Or if you want to get from the beginning to a certain position in the string (for example, position 4, letter 'o'), you will still use colon notation but it will be a bit different:

In [40]:
str[:5]

'Hello'

Or if you want the string from position `x` to position `y` then just do the following:

In [41]:
str[3:8] # x = 3, y = 8

'lo Wo'

+ `list`:

In [42]:
[1, 2, 3]

[1, 2, 3]

In [43]:
['a', 'b', 'c']

['a', 'b', 'c']

In [44]:
my_list = ['a', 'b', 'c']

Let's say I wanted to append my list, I would do the following:

In [45]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

You can get the elements of your list like we did before:

In [46]:
my_list[0]

'a'

In [47]:
my_list[1:3]

['b', 'c']

In [49]:
# Change the value of the list
my_list[0] = 'Truong'
my_list

['Truong', 'b', 'c', 'd']

You also can nest list inside of each other:

In [50]:
nest = [1, 2, [3, 4]]
nest

[1, 2, [3, 4]]

In [52]:
# We will get the list if we access index 2.
nest[2]

[3, 4]

In [54]:
nest[2][1]

4

Do something else expansive:

In [55]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [56]:
nest[3]

[4, 5, ['target']]

In [57]:
nest[3][2]

['target']

In [59]:
nest[3][2][0]

'target'

In [60]:
print(nest[3][2][0])

target

+ Dictionaries:

In [61]:
dic = {'key1': 'value', 'key2': 123}

In [63]:
dic['key1']

'value'

In [64]:
dic['key2']

123

In [65]:
dic = {'key1': [1, 2, 3]}
dic

{'key1': [1, 2, 3]}

In [66]:
dic['key1']

[1, 2, 3]

In [67]:
dic['key1'][2]

3

In [69]:
my_list = dic['key1']
my_list

[1, 2, 3]

In [72]:
my_list[2]

3

In [73]:
dic = {'key1': {'innerkey': [1, 2, 3]}}
dic['key1']

{'innerkey': [1, 2, 3]}

In [74]:
dic['key1']['innerkey']

[1, 2, 3]

In [75]:
dic['key1']['innerkey'][2]

3

+ Boolens:

In [76]:
True

True

In [77]:
False

False

+ Tuples:

In [78]:
t = (1, 2, 3)
t[0]

1

The difference between a list and a tuple is that a tuple cannot replace the elements in it:

In [79]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

We have an error.

+ Sets:

In [80]:
{1, 2, 3}

{1, 2, 3}

In [81]:
{1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2}

{1, 2, 3}

In [82]:
set([1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4])

{1, 2, 3, 4}

In [83]:
s = {1, 2, 3}
s.add(5)
s

{1, 2, 3, 5}

### **Comparison operators.**

In [84]:
1 > 2

False

In [85]:
1 < 2

True

In [86]:
1 == 1

True

In [87]:
'Hi!' != 'Bye!'

True

### **Logic operators.**

In [89]:
1 < 2 and 2 < 3

True

In [90]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [93]:
print(True or False)
print(True and False)

True
False

### **`if, elif, else` statements.**

In [94]:
if 1 < 2:
    print('Yep!')

Yep!

In [95]:
if True:
    x = 2 + 2

print(x)

4

In [96]:
if 1 == 2:
    print('First')
elif 2 < 3:
    print('Middle')
elif 3 >= 4:
    print('Last')
else:
    print('End')

Middle

### **Loops.**

In [98]:
arr = [1, 2, 3, 4, 5]

for num in arr:
    print(num)

for num in arr:
    print('Hello')

1
2
3
4
5
Hello
Hello
Hello
Hello
Hello

In [101]:
i = 1

while i <= 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [102]:
# Use range function
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### **`list` comprehension.**

In [104]:
# Create a list from the range function
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
arr = [1, 2, 3, 4, 5]
arr1 = []

for num in arr:
    arr1.append(num ** 2)

print(arr1)

[1, 4, 9, 16, 25]

In [106]:
# Easier way to do this
arr1 = [num ** 2 for num in arr]
arr1

[1, 4, 9, 16, 25]

### **Functions.**

The keyword for a function is `DPF` or `def` and `DCF` allows you to define a function.

In [117]:
def my_func(name = 'Default Name'): # Set the default `name` variable if there is no input variable
    print('Hello ' + name)

In [118]:
my_func('Le Truong')

Hello Le Truong

In [119]:
my_func()

Hello Default Name

In [122]:
def square(num):
    # Add the documentation string to a function for more information about the function
    """
    This is a function to square a number.
    """
    return num ** 2

output = square(2)
output

4

In [124]:
help(square)

Help on function square in module __main__:

square(num)
    This is a function to square a number.

In [125]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

### **`map` and `filter`.**

In [8]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [6]:
def times2(var):
    return var * 2

seq = [1, 2, 3, 4, 5]

out = map(times2, seq)

In [7]:
list(out)

[2, 4, 6, 8, 10]

In [11]:
t = lambda var: var * 2
t(6)

12

In [12]:
list(map(lambda num: num * 3, seq))

[3, 6, 9, 12, 15]

In [13]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [14]:
list(filter(lambda num: num % 2 == 0, seq))

[2, 4]

### **Methods.**

In [15]:
s = 'Hello! My name is Le Truong'
s.lower()

'hello! my name is le truong'

In [16]:
s.upper()

'HELLO! MY NAME IS LE TRUONG'

In [17]:
s.split()

['Hello!', 'My', 'name', 'is', 'Le', 'Truong']

In [18]:
tweet = 'Go Sports! #Sports'
tweet.split('#')

['Go Sports! ', 'Sports']

In [29]:
tweet.split('#')[0]

'Go Sports! '

In [30]:
d = {'k1': 1, 'k2': 2}
d.keys()

dict_keys(['k1', 'k2'])

In [31]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [32]:
d.values()

dict_values([1, 2])

In [38]:
lst = [1, 2, 3]
lst.pop()

3

In [39]:
lst

[1, 2]

In [40]:
lst.pop(0)
lst

[2]

In [41]:
lst.append('NEW')

'x' in lst

False

In [42]:
'NEW' in lst

True

In [43]:
# x contains a list of tuples
x = [(1, 2), (3, 4), (5, 6)]

for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [44]:
for (a, b) in x:
    print(a)
    print(b)

1
2
3
4
5
6